.education {
  padding: 50px 0px;
  margin-left: 120px;
  margin: 100px;
  background-color: rgba(128, 128, 128, 0.142);
}
.education hr {
  color: green;
  width: 450px;
  margin: 10px auto;
}
.education h2 {
  font-weight: bold;
  color: rgba(4, 132, 111, 0.824);
}
.education .vertical-timeline-element-title {
  color: #138781;
}
.education .vertical-timeline-element-subtitle {
  color: #1e1e2ccf;
}
.vertical-timeline-element--work:hover {
  transform: scale(1.01);
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
@media only screen and (max-width: 600px) {
  .education {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
  .education h2 {
    padding-top: 20px;
  }
  .education hr {
    width: 285px;
  }
}
